<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
        <title>Agent Du Shield | Accueil</title>
        
        <link rel="icon" href="<%= bot.avatar %>">
          </a>
    </head>
    <body>
        <!--HEADER-->
        <%- include('partials/header'); -%>
        <!--MAIN BODY-->
        <!--<a href="#" class="btn">
          <i class="fas fa-arrow-up"></i>
        </a>-->
        <div class="d-flex justify-content-center head slide-up-fade-in">
            <h1><b>Bienvenue sur le site officiel de Agent Du Shield !</b></h1>
        </div>
        <div class="d-flex justify-content-center subtext slide-up-fade-in">
            <p>Si tu déroule tu pourras trouvé l'explication de la page d'aide. Si tu te connecte, tu pourra avoir accès à d'autres informations du bot et une gestion de vos serveurs.</p>
        </div>

        <div class="container custom-1 slide-up-fade-in">
            <img class="custom-image" src="https://media.discordapp.net/attachments/815919981854064674/957383881001144411/inconnu.jpeg">
            <h3 class="align-self-start"><b>Présentation</b></h3>
            <p>
                Agent Du Shield est un bot de Gestion de serveur Discord, il vous permet de gerer votre Discord depuis le bot ( logs, musique, modération ) 100% Français. À propos des fonctionnalités de Agent du shield, nous disposons de plusieurs moyen vous aidant a bien gerer votre serveur.
            </p>
        </div>

        <div class="container pt-10 custom-2 slide-up-fade-in">
            <img src="https://cdn.discordapp.com/attachments/877552667138875442/891022218392395806/unknown.png">
            <h3><b>Page D'aide</b></h3>
            <p>
              Modération ( ban, kick, tempmute etc.. )
            </p>
            <p>
              Modération Settings ( antilink, report, autorole )
              </p>
              <p>
              Logs ( logs message, logs vocal etc.. )
              </p>
              <p>
              Serveur Config ( tickets, setprefix, slowmode etc.. )
              </p>
              <p>
              Serveur Gestion ( giveaway, temprole, create-emojie etc.. )
              </p>
              <p>
              Utility ( serveurinfo, userinfo, calc, serverpic etc.. )
              </p>
              <p>
              Musique ( play, stop, loop etc.. )
            </p>
        </div>

        <!--JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>